/*Um arquivo CSS para apresentação e aplicação de estilos*/
:root {
  --gold: #daa520;
  --white: #ffffff;
  --black: #000000;
  --purple_violet: #ee82ee;
}

* {
  color: var(--fontColor);
  font-family: "PT Sans", sans-serif;
}

body {
  background: var(--bg);
}

ul {
  font-family: helvética;
}

li {
  list-style: circle;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0,75rem;
  font-size: 2rem;
  border: none;
  background: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentsTasks {
  position: absolute;
  top: 150px;
  left: 50px;
  height: 300px;
  width: 300px;
}

.fa-thumbs-down{
  font-size: 3em;
  position: absolute;
  top: -20px;
  left: 120px;  
}
.tasksDone {
  position: absolute;
  top: 150px;
  left: 1150px;
  height: 300px;
  width: 300px;
}

.fa-5x {
  font-size: 3em;
  position: absolute;
  top: -25px;
  left: 120px;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
  padding: 20px;
}

.listDone {
  text-decoration: line-through;
}

.list {
  list-style: square;
}

.light-theme {
  --bg: var(--purple_violet);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--purple_violet);
  --titleFontColor: var(--black);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--purple_violet);
  --btnFontColor: var(--black);
  --titleFontColor: var(--purple_violet);
}

.subtitle {
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
} 


.button {
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.btn {
  position: absolute;
  top: 20px;
  left: 1460px;
  height: 50px;
  width: 50px;
  border-radius: 25%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.title {
  color: var(--titleFontColor);
  font-size: 75px;
  font-family: "PT Serif", serif;
  text-align: center;
  margin: 0%;
}

